.button{
    padding: 8px 15px;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.5s;
    text-decoration: none;
    color: black;

    &:hover{
        cursor: pointer;
    }

    &.login-button{
        background-color: white;
        margin-bottom: 30px;
    }

    &.logout-button{
        margin-top: 80px;
        color: black;
        background-color: white;

        &:hover{
            background-color: #F68D8D;
        }
    }

    &.remove-price-button{
        background-color: transparent;
        border: none;
        display: flex;
        padding: 0;
        position: relative;
        top: 13px;
        left: 7px;
    }
}
