.card-container{

    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;

    .card{
        padding: 15px;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: relative;
        margin-bottom: 20px;

        .profit-loss::after{
            content: "";
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-left: 10px;
            background-position: center;
            background-size: 25px;
            background-repeat: no-repeat;
            position: absolute;
            right: 15px;
            top: 15px;
        }

        &.up{
            background-color: rgba(47, 255, 0, 0.2);

            .profit-loss{
                color: green;
            }
        }
        &.down{
            background-color: rgba(255, 0, 0, 0.2);
            .profit-loss{
                color: red;
            }
        }

        .card-top{
            display: flex;

            .card-title{
                margin-top: 0;
                margin-bottom: 10px;
            }

            .remove-coin-form{
                margin-left: auto;
                z-index: 1;
                .remove-coin-button{
                    padding: 0;
                    border: none;
                    background: none;
                    display: flex;
                }
            }
        }

        .buy-price-wrapper{
            display: flex;
        }
    }
}
